body {
  background-color: #C3E1E1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.main-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.heading,

.heading-1 {
  text-align: center;
  font-weight: 600;

}

.heading-2 {
  text-align: center;
  font-weight: 400;
}




.footer {
  align-items: center;
  box-sizing: border-box 33%;
  margin-block-end: 1 1 33%;
  margin-block: auto;
  margin-block-start: center;
 
}

.grid-container,

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.row1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 


.row2 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 


.button-1  {
  background-color: #8AFFAB;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 120px;
  margin: left 0px;
  margin-right: 10px;
  height: 320;
  width: 340;
  
  
}


.button-2{
  background-color: #F69494;
  border-radius: 15px;
  padding: 15px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 30px;
  
 
}

.button-3{
  background-color: #EC9D39;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}


.button-4{
  background-color: #F6FF92;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  
}